@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .transform-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
}